<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../../../js/main/gridFrom.js"></script>
    <script>
        function textArray() {
            var allJuCountArray=new Array(70,71,72,73,74,75);
            allJuCountArray = removArrayByIndex(allJuCountArray,3);
            for (var i=0;i<allJuCountArray.length;i++) {
                alert(allJuCountArray[i]);
            }
        }
    </script>
</head>
<body>
    <button onclick="textArray();">测试数组</button>
</body>
</html>