<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MainManageMapper">

    <select id="findParamMsgByUserId" resultType="java.util.HashMap">
        select * from param_tbl where USER_ID = #{USER_ID}
    </select>

    <update id="updateUserMoneyByUserId" parameterType="java.util.HashMap">
        <![CDATA[
        UPDATE param_tbl SET USER_MONEY=#{USER_MONEY} WHERE USER_ID=#{USER_ID}
        ]]>
    </update>

    <update id="updateZhuangMoneyByUserId" parameterType="java.util.HashMap">
        <![CDATA[
        UPDATE param_tbl SET ZHUANG_MONEY=#{ZHUANG_MONEY} WHERE USER_ID=#{USER_ID}
        ]]>
    </update>

    <insert id="saveRoomData" parameterType="java.util.HashMap">
        <![CDATA[
         insert into room_tbl(ID,USERID,TOTALCOUNT,MONEY,ZHUANGCOUNT,XIANCOUNT,HECOUNT,ZHUANGDUICOUNT,XIANDUICOUNT,STRARTTIME,JISHUCOUNT,OUSHUCOUNT,HESHUCOUNT) values ( #{ID}, #{USERID}, #{TOTALCOUNT},#{MONEY}, #{ZHUANGCOUNT}, #{XIANCOUNT},#{HECOUNT},#{ZHUANGDUICOUNT},#{XIANDUICOUNT},#{STRARTTIME},#{JISHUCOUNT},#{OUSHUCOUNT},#{HESHUCOUNT})
       ]]>
    </insert>

    <insert id="saveReetData" parameterType="java.util.HashMap">
        <![CDATA[
         insert into reet_tbl(ID,USERID,ROOMID,ZHUANG1,ZHUANG2,ZHUANG3,XIAN1,XIAN2,XIAN3,TOUZHUMONEY,TOUZHU,TIME,ZHUANGVALUE,XIANVALUE,POINT,JISHUCOUNT,OUSHUCOUNT,LINGCOUNT,VALUE,MAXCOUNT,MINCOUNT) values ( #{ID}, #{USERID}, #{ROOMID},#{ZHUANG1}, #{ZHUANG2}, #{ZHUANG3},#{XIAN1},#{XIAN2},#{XIAN3},#{TOUZHUMONEY},#{TOUZHU},#{TIME},#{ZHUANGVALUE},#{XIANVALUE},#{POINT},#{JISHUCOUNT},#{OUSHUCOUNT},#{LINGCOUNT},#{VALUE},#{MAXCOUNT},#{MINCOUNT})
       ]]>
    </insert>

    <select id="findReetByRoomId" resultType="java.util.HashMap">
        select * from reet_tbl where ROOMID = #{ROOMID} ORDER BY POINT ASC
    </select>

    <delete id="deleteReetByRoomId" parameterType="java.util.HashMap">
        <![CDATA[
			delete from reet_tbl where ROOMID = #{ROOMID}
		]]>
    </delete>

    <select id="findRoomById" resultType="java.util.HashMap">
        select * from room_tbl where ID = #{ROOMID}
    </select>

    <update id="updateReetByRoomId" parameterType="java.util.HashMap">
        <![CDATA[
        UPDATE reet_tbl SET HECOUNT=#{HECOUNT},TRENT=#{TRENT} WHERE ROOMID=#{ROOMID}
        ]]>
    </update>

    <select id="findReetByRoomIdAndPoint" resultType="java.util.HashMap">
        select * from reet_tbl where ROOMID = #{ROOMID} AND POINT=#{POINT}
    </select>
</mapper>